* {
    margin: 0;
    padding: 0;
}

div.button {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.container {
    height: 94vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sketch {
    display: flex;
}